---
import Grid from "./Grid.astro";

interface QuickLink {
  title: string;
  subtitle?: string;
  to: string;
}

interface Props {
  title: string;
  description?: string;
  links: QuickLink[];
  longTitle?: boolean;
}

const { title, description, links, longTitle = false } = Astro.props;
---

<section class="section with-background bg-variant">
  <header class="section-header stack gap-2 lg:gap-4">
    <h3>{title}</h3>
    {description && <p>{description}</p>}
  </header>

  <div class="gallery">
    <Grid variant="small">
      {
        links.map((link) => (
          <a href={link.to}>
            <li class="mention-card p-10 h-40">
              <p
                class:list={[
                  longTitle ? "text-sm" : "text-md",
                  "text-white",
                  longTitle ? "italic" : "",
                ]}
              >
                {longTitle ? `"${link.title}"` : link.title}
              </p>
              {link.subtitle && <p class="text-md">{link.subtitle}</p>}
            </li>
          </a>
        ))
      }
    </Grid>
  </div>
</section>

<style>
  /* ====================================================== */

  .mention-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid var(--gray-800);
    border-radius: 1.5rem;
    color: var(--gray-300);
    background: var(--gradient-subtle);
    box-shadow: var(--shadow-sm);
  }

  @media (min-width: 50em) {
    .mention-card {
      border-radius: 1.5rem;
    }
  }
</style>
